body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.container {
  display: flex;
  margin: 0;
}

.side-nav {
  width: 25%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2),
    0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

.logo_img {
  border-radius: 50%;
}

.title h1 {
  text-align: center;
}
.title span {
  display: block;
  text-align: center;
}

.menu {
  display: flex;
  flex-direction: column;
}

.menu a {
  color: black;
  margin-bottom: 8px;
  font-size: 18px;
  background-color: MediumSeaGreen;
  color: whitesmoke;
  width: 200px;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 7px;
  text-decoration: none;
  border-radius: 10px;
}

.menu a:hover {
  background-color: orange;
}

.content {
  width: 75%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.text-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 100px;
  align-items: flex-start;
}
.now {
  font-size: 52px;
}

.hi {
  font-size: 44px;
}
.pos {
  margin-top: 30px;
  font-size: 28px;
}

.btn {
  margin-top: 25px;
  padding: 7px 25px;
  font-size: 18px;
  background-color: black;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  text-decoration: none;
}

.image-content {
  width: 50%;
  display: flex;
  justify-content: end;
}
.image-content img {
  height: 90vh;
  margin-right: 87px;
  margin-top: 50px;
}

.text-content input {
  width: 300px;
  height: 40px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 30px;
}

.text-content input:focus {
  outline: none;
}
.text-content textarea:focus {
  outline: none;
}

.text-content textarea {
  width: 300px;
  height: 150px;
  padding: 15px;
  margin-bottom: 30px;
}

.text-content h1 {
  font-size: 48px;
}

.text-content button {
  padding: 10px 30px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.text-content button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
